<header class="header">
    <div class="container container_header">
        <a class="title_h2 header__nav-link" href="/">Home</a>
        <a class="header__cart" href="./basket.html">
            <span class="header__cart-items-counter">
            </span>
        </a>
    </div>
</header>