{% extends 'templates/layout.twig' %}

{% set title = 'Basket' %}
{% set description = 'Gulp template for development' %}

{% block content %}
    <h1>Basket</h1>
    <div class="cart">

    </div>
{% endblock %}

{% block scripts %}
    <script type="module" src="./js/cartPage.js"></script>
{% endblock %}